/* Importación de fuentes */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Limpieza de estilos de Vite que estorban */
:root {
  line-height: 1.5;
  font-weight: 400;
}

body {
  margin: 0;
  padding: 0;
  min-width: 100%;
  min-height: 100vh;
  display: block; /* Quitamos el flex que centra todo */
}

/* Aseguramos que el editor ocupe toda la pantalla */
#root {
  width: 100%;
  height: 100vh;
}

#netlify-badge {
  display: none !important;
}